<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
		<link th:href="@{/static/css/login.css}" rel="stylesheet"/>
		<script th:src="@{/static/js/jquery-3.1.4.js}"></script>
		<script th:src="@{/static/js/layui/layui.all.js}"></script>
		<script th:src="@{/static/js/bootstrap.js}"></script>
	</head>
	<body>
		<div class="col-lg-6" >
			<h1>欢迎登录</h1>
			<input class="form-control" type="text" id="username" placeholder="请填写用户名"/>
			<input class="form-control" type="password" id="pwd" placeholder="请填写密码"/>
			
			<div class="button">
				<button class="btn-primary btn-lg" id="btn">登录</button>
				<a href="#" id="forgetPw">忘记秘密</a>
			</div>
			<a class="register" th:href="register">&gt;&gt;前往注册</a>
		</div>
		<div id="forgetPwDiv" style="display:none!important">
			<div class="mibao">
				<span>用户名</span>
				<input class="form-control" id="userN" type="text" placeholder="请输入用户名"/>
			</div>
			<div class="mibao" style="margin-top: 0;">
				<span>问题</span>
				<input class="form-control" id="question" type="text"  readonly="readonly"/>
			</div>
			<div class="mibao" style="margin-top: 0;">
				<span>答案</span>
				<input class="form-control" id="answer" type="text" placeholder="请填写答案"/>
			</div>
			<button class="btn-primary " id="pwbtn" style="margin-left: 190px;">下一步</button>
		</div>
		</div>
		<footer class="footer">
			<!-- <p>作者：****</p>
			<p>时间：2020-1-1</p> -->
			<span> © 2019-2020 702工作室  ****** 备案号：********</span>
		</footer>
		<script>
			
			$("#userN").on('change',function () {
				// $("#question").val("aaa");
				$.ajax({
					type:'post',
					url:"/getQuestion",
					data:{"username":$("#userN").val()},
					success:function (data) {
						if(data === null || data === ''){
							layer.alert("该用户未设置密保问题!");
							$("#question").val('');
						}else {
							$("#question").val(data.question);
						}
					},
					error:function () {
						layer.alert("系统异常，请稍后再试！");
					}
				});
			});
			
			$("#pwbtn").click(function () {
				var username = $("#userN").val();
				var answer = $("#answer").val();
				if(answer === '' || answer === null){
					layer.alert("请输入回答！");
					return false;
				}
				$.ajax({
					type:'post',
					url:'/verifyQuestion',
					data:{"username":username,"answer":answer},
					success:function (data) {
						if (data === 'ok'){
							layer.alert("验证成功！");
						}else{
							layer.alert("回答错误！");
							$("#answer").val('');
						}
					},
					error:function () {
						layer.alert("系统异常，请稍后再试！");
					}
				})
			})
			
			$("#forgetPw").click(function () {
				layer.open({
					type: 1,
					title:'忘记密码',
					skin: 'layui-layer-demo', //样式类名
					closeBtn: 1, //不显示关闭按钮
					anim: 2,
					area: ['430px', '360px'],
					shadeClose: true, //开启遮罩关闭
					content: $("#forgetPwDiv"),
                    success:function () {
                        $('#userN').val('');
                        $('#question').val('');
                        $('#answer').val('');
                    }
				});
			})
			
			$("#btn").click(function(){
				doLogin();
			});
			$("#btn").bind('keydown',function (e) {
				var theEvent = e || window.event;
				var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
				if (code == 13) {
					doLogin();
				}
			})
			function doLogin() {
				var username = $("#username").val();
				var pwd = $("#pwd").val();
				if(username === '' || pwd === ''){
					layer.alert('请填写信息！');
					return false;
				}
				$.ajax({
					type:'post',
					url:'/UserLogin',
					data:{"username":username,"pwd":pwd},
					success:function (data) {
						if(data === 'success'){
							window.location='indexPage';
							// layer.alert('登录成功，后续页面正在开发，敬请期待！');
						}else if(data === 'NotIsVaild'){
							layer.alert('该账户已被锁定！');
						}
						else if(data === 'fail'){
							layer.alert('密码错误，请检查后重试！');
						}else if(data === 'NotFoundUser'){
							layer.alert('此用户不存在！');
						}else{
							layer.alert('系统异常，请稍后再试！');
						}
					},
					error:function () {
						layer.alert('登录异常，请稍后再试！');
					}
				});
			}
		</script>
		
	</body>
</html>
