<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
		<link th:href="@{/static/css/commen.css}" rel="stylesheet"/>
		<link th:href="@{/static/js/layer/mobile/need/layer.css}" rel="stylesheet"/>
		<script th:src="@{/static/js/jquery-3.1.4.js}"></script>
		<script th:src="@{/static/js/layui/layui.all.js}"></script>
		<script th:src="@{/static/js/bootstrap.js}"></script>
		<script th:src="@{/static/js/register.js}"></script>
		<script th:src="@{/static/js/distpicker.data.js}"></script>
		<script th:src="@{/static/js/distpicker.js}"></script>
	</head>
	<body>
        <div class="login">
            <p>已有帐号&nbsp;<a th:href="login">前往登录&nbsp;</a><span>&gt;&gt;</span></p>
        </div>
		<div class="col-lg-6" >
            <h1>欢迎注册</h1>
            <div class="a">
                <sapn class="input-group-addon">请填写用户名</sapn>
                <input class="form-control" id="username" type="text"/>
            </div>
            <div class="a">
                <sapn class="input-group-addon">请填写密码</sapn>
                <input class="form-control" type="text" id="pwd1"/>
            </div>
            <div class="a">
                <sapn class="input-group-addon">请确认密码</sapn>
                <input class="form-control" type="text" id="pwd2"/>
            </div>
            <div class="a">
                <sapn class="input-group-addon">邮箱</sapn>
                <input class="form-control" type="text" id="email"/>
            </div>
            <div class="a">
                <sapn class="input-group-addon">请填写出生日期</sapn>
                <input class="form-control" id="birthD" type="date"/>
            </div>
            <div id="distpicker1">
                <sapn class="input-group-addon">请填写地址</sapn>
                <select class="sel" id="pro" data-province="--选择省--"></select>
                <select class="sel" id="city" data-city="--选择市--"></select>
                <select class="sel" id="dist" data-district="--选择县--"></select>
            </div>

			<button class="btn-primary btn-lg" id="btn">注册</button>
		</div>

        <div id="pwdiv" style="display:none!important">
            <div class="mibao">
                <span>用户名</span>
                <input class="form-control" id="userN" type="text" placeholder="请填写用户名"/>
            </div>
            <div class="mibao" style="margin-top: 0;">
                <span>问题</span>
                <input class="form-control" id="question" type="text" placeholder="请填写问题"/>
            </div>
            <div class="mibao" style="margin-top: 0;">
                <span>答案</span>
                <input class="form-control" id="answer" type="text" placeholder="请填写答案"/>
            </div>
            <button class="btn-primary " id="pwbtn" style="margin-left: 190px;">提交</button>
        </div>
		
		<script>

            $("#pwbtn").click(function () {
                var username = $("#userN").val();
                var question = $("#question").val();
                var answer = $("#answer").val();
                $.ajax({
                    type:'post',
                    url:'/addQuestion',
                    data:{"question":question,"answer":answer,"username":username},
                    success:function (data) {
                        if(data === 'ok'){
                            layer.alert("设置密保问题成功,3秒后自动跳转到登录页！");
                            window.setInterval(function () {
                                window.location.href="/login";
                            },1000*3);
                        }else if(data === 'fail'){
                            layer.alert("设置密保失败！");
                        }else{
                            layer.alert(data);
                        }
                    }
                });
            });
            
            
			$('#distpicker1').distpicker({
				autoSelect: false
			});

			$("#username").on('change',function () {
                var username = $("#username").val();
                var reg = /^[0-9a-zA-Z]+$/;
                if(!reg.test(username)){
                    layer.alert("用户名作为登录账号，只能由数字或字母组成！");
                    $("#username").val('');
                }else {
                    $.ajax({
                        type:'post',
                        url:'/verifyUserName',
                        data:{"username":username},
                        success:function (data) {
                            if(data==='ok'){
                                layer.alert("该用户名已被使用！");
                                $("#username").val('');
                            }
                        },
                        error:function () {
                            layer.alert("验证用户名异常，请稍后再试！");
                            $("#username").val('');
                        }
                    });
                }
            });

			$("#pwd1").on('change',function () {
			    var pwd = $("#pwd1").val();
                var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/;
                if(!reg.test(pwd)){
                    layer.alert('密码长度要大于6位，由数字和字母组成！');
                    $("#pwd1").val('');
                }
            })
			
			$("#pwd2").on('change',function(){
				var pwd1 = $("#pwd1").val();
				var pwd2 = $("#pwd2").val();
				if(pwd1 != pwd2){
					layer.alert('两次密码不一致，请重新填写！');
					$("#pwd2").val('');
				}
			});
            $("#btn").click(function(){
                var username = $("#username").val();
                var pwd1 = $("#pwd1").val();
                var pwd2 = $("#pwd2").val();
                var email = $("#email").val();
                var birthDay = $("#birthD").val();
                var pro = $("#pro").val();
                var city = $("#city").val();
                var dist = $("#dist").val();
                // console.log(username+"--"+birthDay+"--"+pwd1+"--"+pwd2+"--"+pro+city+dist);
                if(username === '' || pwd1 === '' || pwd2 === '' || email === '' || pro === '' || birthDay === '' || city === ''){
                    layer.alert("请补全信息！");
                    return false;
                }
                $.ajax({
                    type:'post',
                    url:'/UserRegister',
                    data:{"username":username,"pwd":pwd1,"email":email,"birthDay":birthDay,"address":pro+city+dist},
                    success:function (data) {
                        if(data === 'ok'){
                            layer.confirm('注册成功,是否设置密保问题！',{btn:['确定','取消']},function () {
                                layer.open({
                                    type: 1,
                                    title:'设置密保',
                                    skin: 'layui-layer-demo', //样式类名
                                    closeBtn: 1, //不显示关闭按钮
                                    anim: 2,
                                    area: ['430px', '290px'],
                                    shadeClose: true, //开启遮罩关闭
                                    content: $("#pwdiv")
                                });
                            },function () {
                                window.location.href="/login";
                            });

                        }else{
                            layer.alert('注册失败！');
                        }
                    },
                    error:function(){
                        layer.alert('系统异常，请稍后再试！');
                    }
                })
            });
		</script>
		
	</body>
</html>
